.profile__add-button {
  width: 150px;
  height: 52px;
  padding: 0;
  border-style: none;
  border: 2px solid white;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 1);
  background-image: url('../../../images/profileAddButton.svg');
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  transition: opacity .3s linear;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 676px) {
  .profile__add-button {
    width: 282px;
    height: 50px;
  }
}