@import url(./vendor/normalize.css);
@import url(./vendor/fonts/Inter/inter.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__size/page__size.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar-hover/profile__avatar-hover.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__status/profile__status.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/elements/__list/elements__list.css);
@import url(./blocks/elements/__box/elements__box.css);
@import url(./blocks/elements/__delete-button/elements__delete-button.css);
@import url(./blocks/elements/__delete-button/_inactive/elements__delete-button_inactive.css);
@import url(./blocks/elements/__image/elements__image.css);
@import url(./blocks/elements/__name-box/elements__name-box.css);
@import url(./blocks/elements/__title/elements__title.css);
@import url(./blocks/elements/__like/elements__like.css);
@import url(./blocks/elements/__likes-count/elements__likes-count.css);
@import url(./blocks/elements/__like-button/elements__like-button.css);
@import url(./blocks/elements/__like-button/_active/elements__like-button_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__overlay/popup__overlay.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__list/popup__list.css);
@import url(./blocks/popup/__list-element/popup__list-element.css);
@import url(./blocks/popup/__data-box/popup__data-box.css);
@import url(./blocks/popup/__data-box/_error/popup__data-box_error.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_visible/popup__input-error_visible.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(./blocks/popup/_image/popup_image.css);
@import url(./blocks/popup/__place-box/popup__place-box.css);
@import url(./blocks/popup/__place-picture/popup__place-picture.css);
@import url(./blocks/popup/__place-text/popup__place-text.css);
@import url(./blocks/popup/__place-name/popup__place-name.css);
@import url(./blocks/popup/__container/_confirm/popup__container_confirm.css);
@import url(./blocks/popup/__title/_confirm/popup__title_confirm.css);